* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 97vh;
  align-items: center;
  background-color: #B0C4DE;
  width: 100%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  margin-top: 20px;
  border: none;
}

.joinButton {
  color: white;
  text-transform: uppercase;
  background: #2979FF;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  margin-top: 20px;
}

.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #2979FF;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
  height: 15px;
  width: 15px;
  background-color: #7FFF00;
  border-radius: 50%;
  display: inline-block;
}

.fa_custom {
  color: white;
}

.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 70%;
  font-size: 1.2em;
}

.sendButton {
  color: #fff;
  text-transform: uppercase;
  background: #2979ff;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 30%;
}

.messageBox {
  background: #F3F3F3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  color: #828282;
  letter-spacing: 0.3px;
}

.pad-left {
  padding-left: 10px;
}

.pad-right {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.white {
  color: white;
}

.dark {
  color: #0d0d0d;
}

.bg-blue {
  background: #2979ff;
}

.bg-white {
  background: #F0F8FF;
}
.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}
